Source: circus
Priority: extra
Maintainer: Cyril ADRIAN <cyril.adrian@gmail.com>
Build-Depends: debhelper (>= 8.0.0), po-debconf, %libdevel:libcad*-dev%, %libdevel:libyacjp*-dev%, %libdevel:libzmq*-dev%, %libdevel:libgcrypt*-dev%, %libdevel:libuv*-dev%, %libdevel:libsqlite*-dev%, %libdevel:libffcall*-dev%, %shells:bash%, %java:yui-compressor%, %web:libjs-clipboard%
Standards-Version: 3.9.8
Section: libs
Homepage: http://www.github.com/cadrian/circus
Vcs-Git: git://github.com/cadrian/circus.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/circus.git;a=summary

Package: circus-server
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %libs:libcad*%, %libs:libyacjp*%, %libs:libzmq*%, %libs:libgcrypt*%, %libs:libuv*%, %libs:libsqlite*%
Description: Circus is a Ringmaster, keeping Credentials and User Secrets
 Circus is a multi-user credentials manager. It ensures that your vault
 is only in one place: the one you chose.
 .
 This package contains the Circus server.

Package: circus-client-cgi
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %libs:libcad*%, %libs:libyacjp*%, %libs:libzmq*%, %libs:libuv*%, circus-server (= #VERSION#)
Recommends: httpd-cgi, fcgiwrap
Description: Circus is a Ringmaster, keeping Credentials and User Secrets
 Circus is a multi-user credentials manager. It ensures that your vault
 is only in one place: the one you chose.
 .
 This package contains the Circus CGI client.
