@import url("https://fonts.googleapis.com/css?family=Tangerine|Mr+Bedford|EB+Garamond");

/* Generic Selectors */

body {
    color: #333333;
    background-color: #F9F9F9;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%;
    list-style-image: url(red_nose_small.png);
}

h1 {
    font-family: 'Mr Bedford', serif;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #aaa;
    color: #000000;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #000000;
    border-bottom: 1px solid #ECC68C;
}

/**************** Tabs **************************/

.tab {
    display: none;
}

.tablink {
    color: #CC0000;
    text-decoration: none;
    font-weight: normal;
}

.currenttab {
    display: block;
    font-weight: bold;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #ECC68C;
    background-color: #FBE4F2;
}

/**************** Pseudo classes ****************/

a:link {
    color: #CC0000;
    text-decoration: underline;
    font-weight: bold;
}

li :link {
    color: #CC0000;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #CC0000;
    text-decoration: underline;
    font-weight: bold;
}

li a:visited {
    color: #CC0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(96, 0, 255);
    font-weight: bold;
    text-decoration: underline;
}

li a:hover {
    display: block;
    color: rgb(96, 0, 255);
    font-weight: bold;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #C6EC8C;
}

a:active {
    color: rgb(255, 0, 102);
    font-weight: bold;
}

/************************* ID's *************************/

#navigation {
    position: absolute;
    width: 210px;
    height: 600px;
    margin: 0;
    margin-top: 50px;
    border-right: 1px solid #ECC68C;
    font-weight: normal;
}

#centerDoc {
    position: absolute;
    padding: 0 0 20px 0; /*top right bottom left*/
    margin-top: 50px;
    margin-left: 235px;
}
